// small screen
@media only screen and (max-width: 850px) {
  .about {
    height: 100%;
    padding-top: 50px;
  }

  .title-wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

    p {
      color: white;
      font-size: 15px;
      text-shadow: 0.07em 0 black,
      0 0.07em black,
      -0.07em 0 black,
      0 -0.07em black;
    }
  }

  .media-wrapper {
    display: flex;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .icon {
    width: 25px;
    margin: 3px;
  }
}

// big screen
@media only screen and (min-width: 850px) {
  .about {
    height: 100%;
    padding-top: 50px;
  }

  .title-wrapper {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;

    p {
      color: white;
      font-size: 20px;
      text-shadow:
              0.07em 0 black,
              0 0.07em black,
              -0.07em 0 black,
              0 -0.07em black;
    }
  }

  .media-wrapper {
    display: flex;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .icon {
    width: 45px;
    margin: 10px;
  }
}
