@media only screen and (min-width: 850px) {
  .main {
    display: flex;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 850px) {
  .main {
    padding-top: 50px;
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 850px) {
  form {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .input-margin {
    margin: 3px;
  }

  .sent-email {
    color: seagreen;
    margin: 10px;
    font-size: 11px;
  }

  .warning {
    color: red;
    margin: 0 0 0 10px;
    font-size: 11px;
  }
}

@media only screen and (min-width: 850px) {
  form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .input-margin {
    margin: 0 10px 20px 10px;
  }

  .sent-email {
    color: seagreen;
    margin: 10px;
    font-size: 14px;
  }

  .warning {
    color: red;
    margin: 0 0 0 10px;
    font-size: 14px;
  }
}

.user-data {
  display: flex;

  input {
    width: 50%;
    line-height: 48px;
  }
}

.contact-data {
  display: flex;
  flex-direction: column;

  input {
    line-height: 48px;
  }

  textarea {
    height: 150px;
    line-height: 25px;
  }

  textarea::-webkit-scrollbar {
    display: none;
  }

  button {
    cursor: pointer;
    line-height: 48px;
    border-radius: 26px;
    font-size: 14px;
    border: none;
    background-clip: padding-box;
    background-color: #131313;
    color: #9f9f9f;
    align-self: center;
    width: 50%;

    &:hover {
      background-color: #202020;
    }
  }
}

.input {
  padding: 0 10px;
  border-radius: 4px;
  background-color: #131313;
  box-shadow: 0 0 0 1px rgb(28 28 28 / 50%);
  color: white;
  font-size: 14px;
  border: none;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #131313 inset;
  -webkit-text-fill-color: white;
}

@media only screen and (min-width: 850px) {
  .address {
    width: 25%;
    color: white;
    font-size: 15px;
    text-shadow: 0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;

    & div {
      margin-bottom: 10px;
    }

    & h4 {
      margin: 0;
    }

    & a {
      text-decoration: none;
      color: white;
    }
  }
}

@media only screen and (max-width: 850px) {
  .address {
    color: white;
    font-size: 15px;
    text-shadow: 0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
    margin-top: 10px;
    margin-left: auto;
    max-width: 90%;

    & div {
      margin-bottom: 10px;
    }

    & h4 {
      margin: 0;
    }

    & a {
      text-decoration: none;
      color: white;
    }
  }
}
