.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 86px;
  left: 0;
  top: 0;
  width: 100%;
}

.logo-container {
  height: 80%;
  padding-left: 20px;
  padding-top: 20px;
}

.logo {
  cursor: pointer;
  transition: background 2s;
  height: 100%;
  border-radius: 10px;

  &:hover {
    background-color: #432f3f;
  }
}

@media only screen and (max-width: 730px) {
  .buttons {
    display: flex;
  }
}

@media only screen and (min-width: 730px) {
  .buttons {
    display: flex;
    margin: 20px;
  }

  .button:hover {
    color: white;
  }
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: lightgrey;
  margin: 10px;
  font-size: 20px;
}

.active {
  color: #F8DE7E;
}
