.home {
  height: 100%;
}

.map-wrapper {
  display: flex;
  justify-content: center;
  height: 50%;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

// big screen
@media only screen and (min-width: 530px) {
  .title {
    font-size: 52px;
    max-width: 70%;
  }
}

// small screen
@media only screen and (max-width: 530px) {
  .title {
    width: 90%;
  }
}
